<a href="https://colab.research.google.com/github/TanuAgarwal741/Tanu-Agarwal/blob/Tanu/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
class Person:
  name="Tanu"
  age=22
  occupation="student"

a = Person()
a.name="sejal"
a.age=21
a.occupation="teacher"
print(a.name,a.age,a.occupation)

sejal 21 teacher

In [23]:
class Person:
  name="Tanu"
  age=22
  occupation="student"
  def info(self):
   print(f"{self.name} is a {self.occupation}")

a = Person()
a.name="sejal"
a.age=21
a.occupation="teacher"
a.info()

sejal is a teacher

In [24]:
class Person:
  name="Tanu"
  age=22
  occupation="student"
  def info(self):
   print(f"{self.name} is a {self.occupation}")

a = Person()

a.info()

Tanu is a student

In [22]:
class Person:
  name="Tanu"
  age=22
  occupation="student"
  def __init__(self):
   print(self.name , self.occupation)

a = Person()

Tanu student