<a href="https://colab.research.google.com/github/TanuAgarwal741/Tanu-Agarwal/blob/Tanu/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:

# importing the modules
from IPython.display import display
import pandas as pd

# creating a DataFrame
dict = {'Name' : ['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}
df = pd.DataFrame(dict)

# displaying the DataFrame
display(df)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

In [ ]:


# importing the modules
from tabulate import tabulate
import pandas as pd

# creating a DataFrame
dict = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]}
df = pd.DataFrame(dict)

# displaying the DataFrame
print(tabulate(df, headers = 'keys', tablefmt = 'psql'))

+----+---------+---------+-----------+
|    | Name    |   Maths |   Science |
|----+---------+---------+-----------|
|  0 | Martha  |      87 |        83 |
|  1 | Tim     |      91 |        99 |
|  2 | Rob     |      97 |        84 |
|  3 | Georgia |      95 |        76 |
+----+---------+---------+-----------+

In [ ]:
!apt-get -y install mysql-server
!sudo service mysql status
!sudo service mysql start
!pip install mysql-connector-python
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')
books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
 * /usr/bin/mysqladmin  Ver 8.0.36-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.36-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			3 min 39 sec

Threads: 2  Questions: 22  Slow queries: 0  Opens: 136  Flush tables: 3  Open tables: 55  Queries per second avg: 0.100
 * Starting MySQL database server mysqld
   ...done.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [ ]:
import mysql.connector as sql
from tabulate import tabulate
import pandas as pd

conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock', database='library')
cursor = conn.cursor()


cursor.execute("SELECT * FROM books")

table_rows = cursor.fetchall()
df = pd.DataFrame(table_rows)
print(tabulate(df, headers = 'keys', tablefmt = 'psql'))

+----+-----+-----------------------+---------------------+------+
|    |   0 | 1                     | 2                   |    3 |
|----+-----+-----------------------+---------------------+------|
|  0 |   1 | To Kill a Mockingbird | Harper Lee          | 1960 |
|  1 |   2 | 1984                  | George Orwell       | 1949 |
|  2 |   3 | The Great Gatsby      | F. Scott Fitzgerald | 1925 |
+----+-----+-----------------------+---------------------+------+

In [ ]:
!mysql -e "update library.books set year_pubished=NULL where author='Harper Lee'"
!mysql -e "select * from library.books"

ERROR 1054 (42S22) at line 1: Unknown column 'year_pubished' in 'field list'
+----+-----------------------+---------------------+----------------+
| id | title                 | author              | year_published |
+----+-----------------------+---------------------+----------------+
|  1 | To Kill a Mockingbird | Harper Lee          |           1960 |
|  2 | 1984                  | George Orwell       |           1949 |
|  3 | The Great Gatsby      | F. Scott Fitzgerald |           1925 |
+----+-----------------------+---------------------+----------------+