<a href="https://colab.research.google.com/github/TanuAgarwal741/Tanu-Agarwal/blob/Tanu/pyramid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [22]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [27]:

m = (2 * 7) - 2
for i in range(1, 7):
    for j in range(1, m):
        print(end=" ")
    m = m - 1
    for j in range(1, i + 1):
        print(j, end=' ')
    print(" ")

           1
          1 2
         1 2 3
        1 2 3 4
       1 2 3 4 5
      1 2 3 4 5 6