<a href="https://colab.research.google.com/github/TanuAgarwal741/Tanu-Agarwal/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
list=[]
n=int(input("enter no of elements you want to enter:"))
for i in range(n):
  num=input()
  list.append(num)
  print(list)

  for a in list:
    length=len(a)
    if length>2:
      if a[0]==a[length-1]:
        print(a)

enter no of elements you want to enter:3
naman
['naman']
naman
tanu
['naman', 'tanu']
naman
sejal
['naman', 'tanu', 'sejal']
naman

In [8]:
tuple=("tanu",",")
print(tuple)

('tanu', ',')

In [18]:
tuple=("tanu","sejal","isha")
a=tuple[0]
print(a)

tanu

In [26]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.append("cherry")
fruits=tuple(fruits)
print(fruit)

TypeError: 'list' object is not callable

In [11]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.extend("cherry")
fruits=tuple(fruits)
print(fruit)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango', 'c', 'h', 'e', 'r', 'r', 'y']

In [12]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.remove("banana")
fruits=tuple(fruits)
print(fruit)

['apple', 'banana', 'mango']
['apple', 'mango']

In [15]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.pop(1)
fruits=tuple(fruits)
print(fruit)

['apple', 'banana', 'mango']
['apple', 'mango']

In [17]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.clear()
fruits=tuple(fruits)
print(fruit)

['apple', 'banana', 'mango']
[]

In [27]:
fruits=("apple","banana","mango")
print(fruits)
fruit=list(fruits)
print(fruit)
del fruit
print("done")

('apple', 'banana', 'mango')
['apple', 'banana', 'mango']
done

In [29]:
fruits=("apple","banana","mango")
fruit=list(fruits)
print(fruit)
fruit.insert(3,"banana")
fruits=tuple(fruits)
print(fruit)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango', 'banana']

In [9]:
fruits=("kiwi","apple","mango","kiwi")
res=[]
for i in range(len(fruits)):
  my_fruit=fruits[i]
  count=0
  for j in range(len(fruits)):
   if j==1:
    continue
  if fruits[j]==fruits[i]:
      count+=1
  if count>0:
   if my_fruit not in res:
          res.append(my_fruit)
print(res)

['kiwi']