<a href="https://colab.research.google.com/github/TanuAgarwal741/Tanu-Agarwal/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
for i in range(1,11,2):
 print(i)

1
3
5
7
9

In [12]:
for i in range(17,187,17):
 print(i)

17
34
51
68
85
102
119
136
153
170

In [21]:
n=0
while n<6:
  print(n)
  n+=1

0
1
2
3
4
5

In [37]:
for i in range(1,11):
 if i==5:
  continue
 print(i)

1
2
3
4
6
7
8
9
10

In [42]:
for n in range(1,20):
  if n==15:
    break
  print(n)
else:
  ("nothing")

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
a=int(input("Enter Value"))
b=int(input("Enter Value"))
c=int(input("Enter Value"))
sum=(a+b+c)
print(sum)

Enter Value1
Enter Value2
Enter Value3
6